.features-list {
  letter-spacing: 0.03em;
  padding-left: 0;
  margin: 0;
}

.features-list__item {
  width: 450px;
  margin-bottom: 30px;
  &:nth-child(4) {
    margin-bottom: 0;

    @include media(tablet) {
      width: 354px;
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
        &:nth-child(odd) {
          margin-right: 30px;

          @include media(desktop) {
            flex-wrap: nowrap;
            margin-right: 30px;
            margin-bottom: 0;
            width: 270px;
            &:nth-child(4) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
.features-list__icon {
  @extend %centeredFlex;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
}

.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features-list__text {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}
