.functions {
  @include media(mobile) {
    display: none;
  }
  @include media(tablet) {
    display: none;
  }
}
.functions {
  @include media(desktop) {
    margin: 0;
    padding-bottom: 94px;
    padding-top: 0;
  }
}

.functions__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.functions__list {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.functions__item {
  display: block;
  margin-right: 30px;
  position: relative;

  &:nth-child(3) {
    margin-right: 0;
  }
}

.functions__overlay {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.functions__subtitle {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--fond-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
