/* WebStudio */
.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo__dark {
    color: var(--main-text-color);
}

.logo__light {
    color: var(--fond-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}