/* WebStudio */
.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__dark {
  color: var(--main-text-color);
}

.logo__light {
  color: var(--fond-color);
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
