/* Модальное окно*/
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition-property: opacity;
  @include animatingForm(visibility);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  @include media(desktop) {
    width: 528px;
    height: 581px;
  }
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  @extend %centeredFlex;
  background-color: var(--fond-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--fond-color);

  &:hover .modal__close-icon,
  &:focus .modal__close-icon {
    fill: var(--accent-color);
    cursor: pointer;
  }
}
.modal__close-icon {
  fill: var(--main-text-color);
  @include animatingForm(fill);
}

/*Форма*/

.modal__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  @include media(desktop) {
    line-height: 1.15;
  }
}

.modal-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal-form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 11px;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--main-text-color);
  &:focus + .modal-form__icon {
    fill: var(--accent-color);
    &:focus {
      border-color: var(--accent-color);
    }
  }
}
.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: rgba(33, 33, 33, 1);
}
.modal-form__label--current {
  margin-bottom: 20px;
}
.modal-form__comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 12px 16px;
  &:focus {
    border-color: var(--accent-color);
  }
}
.modal-form__comment::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__label-agreement {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.modal-form__custom-checkbox:focus + .modal-form__checkbox {
  outline: 1px solid var(--accent-color);
}

.modal-form__checkbox-icon {
  fill: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-form__checkbox {
  margin: 0;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--main-text-color);
  outline-offset: -2px;
  border-radius: 2px;
  color: transparent;
}
.modal-form__custom-checkbox:checked + .modal-form__checkbox {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--fond-color);
}
.modal-form__agreement-link {
  color: var(--accent-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.forma-btn {
  display: block;
  padding: 10px 56px;
  margin: auto;
}
