.teammates {
  background-color: var(--fond-light-color);
}

.teammates__title {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: var(--main-text-color);

  @include media(desktop) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.teammates__list {
  margin: 0;
  text-align: center;
  padding-left: 0;

  @include media(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.teammates__item {
  display: block;
  width: 450px;
  height: 460px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--fond-color);

  @include media(mobile-only) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include media(tablet) {
    width: 354px;
    margin: 15px;
  }
  @include media(desktop) {
    width: 270px;
  }
}

.teammates__info {
  padding: 30px 16px;

  @include media(desktop) {
    padding: 30px 32px;
  }
}

.teammates__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-text-color);
}

.teammates__position {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.socials__list {
  @extend %centeredFlex;
  margin-top: 16px;
  padding-left: 0;
}

.socials__item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:nth-child(4) {
    margin-right: 0;
  }
}

.socials__link {
  @extend %centeredFlex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--fond-color);
  @include animatingForm(background-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socials__icon {
  fill: #afb1b8;
  @include animatingForm(fill);

  .socials__link:hover &,
  .socials__link:focus & {
    fill: var(--fond-color);
  }
}
