html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-style: normal;
  background-color: var(--fond-color);
}
