:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --fond-color: #ffffff;
    --fond-dark-color: #2f303a;
    --fond-light-color: #f5f4fa;
    --accent-color: #2196f3;
    --accent-active-color: #188ce8;
}